* {
    margin: 0;
    padding: 0;
}

.products {
    width: 100%;
    height: 760px;
    display: grid;
    grid-template-rows: 49% 49%;
    grid-template-columns:  25% 25% 25% 25%;
    border: 1px solid black;
}

.product {
    margin: 5px;
}

.product-img {
    width: 100%;
    height: 50%;
    background-size: cover;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.image1 {
    background-image: url("https://target.scene7.com/is/image/Target/GUEST_ab26be96-d4cf-4216-bb15-cfab92bf6219?wid=488&hei=488&fmt=pjpeg")
}

.image2 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTYco9RkV3vVpXrXYwRqWVvcTdrsD07tE6leQ&usqp=CAU")
}

.image3 {
    background-image: url("https://images.exoticanimalsforsale.net/uploads/0FF53EB1-72E8-4053-A10A-E8F886A0F4D7-1000x1000-Zg2V3NGure.jpeg")
}

.image4 {
    background-image: url("https://www.verizon.com/business/dam/img/products/devices/apple/5g-iphone-12-sm.webp")
}

.image5 {
    background-image: url("https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6287/6287705_sd.jpg;maxHeight=640;maxWidth=550")
}

.image6 {
    background-image: url("https://cdn.shopify.com/s/files/1/0357/8583/4633/products/eve_al_product4444_360x.jpg?v=1584455525")
}

.image7 {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/31Z3HEABeYL._AC_.jpg")
}

.image8 {
    background-image: url("https://api.thelevelup.com/v15/order_ahead/menu_image_stores/169096/image?density=1&height=300&width=420&aspect_ratio=original")
}