#checkerboard{
    border: solid purple 1px;
    width: 800px;
    height: 800px;
    }
    
    .black, .white{
      height: 100px;
      width: 100px;
      float: left;
    
    }
    
    .black{ 
      background-color: black;
    }